:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: inline-size;
}

div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@container (width < 600px) {
  div {
    width: 100px;
  }
}
